############################################################
# configuration of a safewebdrop client for test purposes  #
############################################################

# this config file must be adapted to your server configuration

# HOST is the server, a USER is registered on
# replace with your own server's DNS name
#HOST="myserver.com"
HOST="crypto-bone.com"
IDHOST=${HOST}
SERVER=${HOST}

# USER is the name of the registered user on HOST
# you can overwrite the user's name on the command line
# USER="myuser"
ID="harry"

# RECIPIENT is the name of a registered user, who will receive the message on HOST
# RECIPIET="myrecipient"
RECIPIENT="sally"

# CROSSSERVER is the host, that has registered CROSSUSER
# a different administrator must accept the CROSSUSER's public key on CROSSSERVER
# CROSSSERVER="otherserver.com"
CROSSSERVER="safewebdrop.com"
# CROSSID="otheruser"
CROSSID="tom"

# THIS IS NOT FOR PRODUCTION USE !!!
# the following secrets must be stored securely in a database 
# (see cryptoboned)

# a secret to encrypt the RSA private key
PRIVSECRET="c1e40906ebc9b24e39a6"

# a secret that is agreed between sender and recipient
# (see /bin/cryptobone2 GUI)
# all messages and files will be encrypted with this secret
# in production use, you will change this secret with each message exchange
SEC="12345123451234512345"

# write a trace to debug errors
# DEBUG="no"
DEBUG="yes"

# Attachment file name (relative to USER's home) []
# FILE="../${ID}/attachmentfile"
FILE="makefile"

#####   end  ###############################################
