###################################################
# configuration for SERVER scripts of SafeWebdrop #
###################################################

# you need to define where the end user's data is to be stored
# systemd-httpd blocks the use of /home/safewebdrop for writing
# so you must find a different place, i.e.
DEST="/var/safewebdrop"

# if you enable unauthorized messages, please make sure you have
# some restrictions in place
ACCEPT_UNAUTHORIZED="no"
# ACCEPT_UNAUTHORIZED="yes"

# if you want only locally registered users, then set to "no"
ACCEPT_CROSS_SERVER="yes"

# You can disable the use of attachments with "no"
ACCEPT_FILES="yes"
# MAX bytes in kByte (default 2000 kByte)
MAX=2000


