###################################################
# configuration for SERVER scripts of SafeWebdrop #
###################################################

# if you enable unauthorized messages, please make sure you have
# some restrictions in place
ACCEPT_UNAUTHORIZED="no"
# ACCEPT_UNAUTHORIZED="yes"

# if you want only locally registered users, then set to "no"
ACCEPT_CROSS_SERVER="yes"

# You can disable the use of attachments with "no"
ACCEPT_FILES="yes"
# MAX bytes in kByte (default 2000 kByte)
MAX=2000

### end config ###################################
